p {
     font-size: 1.5em;
     text-align: center;
}

h1 {
     font-family: 'Saira Stencil One', cursive;
     color: $color-light;
     font-size: 5rem;
     text-align: center;
     width: 100%;
     padding: 0.2em;
     background-color: rgba($color-primary, 0.4);
}

.menu__link {
     color: $color-light;
     font-size: 1.5em;
     text-transform: uppercase;
     font-weight: 900;
}

.logo {
     font-family: 'Saira Stencil One', cursive;
     color: $color-light;
     text-transform: uppercase;
     @extend %center;
     padding: 0.8em;
     font-size: 1.5em;
}

td,
th {
     text-align: center;
     vertical-align: middle;
     border-bottom: 1px double $color-fourth;
     min-width: 4rem;
     height: 3rem;
}

th {
     background-color: $color-third;
}

tr:nth-child(even) {
     background-color: $color-primary;
     color: $color-light;
}

.artist {
     width: 100%;
}

.formControl {
     width: 70vw;
     margin: 0 auto;
}

.btn {
     width: 100%;
     margin-top: 1rem;
}
